extends layout

block content
    p Please add a transaction below

    form(method='post' action='/add_transaction')
        label(class='form-label' for='payer_name') Select Payer Name: 
        input(class='form-control' type='text' list='payer_name_list' id="payer_name" name="payer_name")
        datalist(id='payer_name_list' required='true')
            each payer in payerArr
                option=payer
        label(class='form-label' for='point_amount') Point Amount: 
        input(class='form-control' id='point_amount' type='number' name='point_amount' required='true' min="1" max="" + balance + "")
        label(class='form-label' for='trans_date') Date: 
        input(class='form-control' id='trans_date' type='date' name='trans_date' required='true' min="1970-01-01" )
        label(class='form-label' for='trans_time') Time: 
        input(class='form-control' id='trans_time' type='time' name='trans_time' required='true')
        br
        button(class='btn btn-primary' type='submit') Submit
    if errors
        ul
        each error in errors
            li= error.msg