extends layout

block content
    p Please add a transaction below

    form(method='post' action='/add_transaction')
        label(for='payer_name') Select Payer Name: 
        select(id='payer_name' name='payer_name' required='true')
            each payer in payerArr
                option=payer
        label(for='point_amount') Point Amount: 
        input(id='point_amount' type='number' name='point_amount' required='true' min="1" max="" + balance + "")
        label(for='trans_date') Date: 
        input(id='trans_date' type='date' name='trans_date' required='true' min="1970-01-01" )
        label(for='trans_time') Time: 
        input(id='trans_time' type='time' name='trans_time' required='true')
        input(type='submit')
    if errors
        ul
        each error in errors
            li= error.msg