doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1
      a(class='banner' href='/') Welcome to the Fetch Rewards Points Portal
    block content
