extends layout

block content
  br
  h3 Total Points Balance: #{balance}
  
  table.table.table-striped.table-hover
    thead
      tr
        th Name 
        th Points
    tbody
      each key, val in payerBalance 
        tr
          td= val
          td= key