body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

.banner {
  color: #000;
  text-decoration: none;
}